.card {
  --shadow-color: rgba(18, 22, 30, 0.22);
  --shadow-color-open: rgba(0, 0, 0, 0.1);
  --flipped-gradient: linear-gradient(161.57deg, #F5F5F5 2.93%, #ECECEC 56.66%, #EAEAEA 69.67%);
  --card-width: 326px;
  --card-scaled-width: 358px;
  --card-height: 413px;
  --card-scaled-height: 456px;
  --rotate-angle: -105deg;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  cursor: pointer;
  animation-duration: var(--animation-duration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  .cardCheckbox:checked ~ & {
    animation-name: labelanime;
    animation-direction: normal;
  }
  .cardReviewedCheckbox:checked + .cardCheckbox:not(:checked) ~ & {
    animation-name: reverselabelanime;
    animation-direction: reverse;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 1;
  }
}

.cardReviewedCheckbox,
.cardCheckbox {
  display: none;
}

.unflipped {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  transform-origin: 0 50%;
  animation-duration: var(--animation-duration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  .cardCheckbox:checked ~ .card & {
    animation-name: cardanime;
    animation-direction: normal;
  }
  .cardReviewedCheckbox:checked + .cardCheckbox:not(:checked) ~ .card & {
    animation-name: reversecardanime;
    animation-direction: reverse;
  }
  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
    &.active {
      opacity: 1;
    }
  }
}
.flipped {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  transform-origin: 0 50%;
  background: var(--flipped-gradient);
  box-shadow: 0px 8px 59px 0px var(--shadow-color);
  animation-duration: var(--animation-duration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  .cardCheckbox:checked ~ .card & {
    animation-name: backcardanime;
    animation-direction: normal;
  }
  .cardReviewedCheckbox:checked + .cardCheckbox:not(:checked) ~ .card & {
    animation-name: reversebackcardanime;
    animation-direction: reverse;
  }
}
.cardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 16px;
  background: linear-gradient(211.36deg, #FFFFFF 8.14%, #F4F4F4 100.07%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
  transform-origin: 0 50%;
  // animation-duration: var(--animation-duration);
  // animation-iteration-count: 1;
  // animation-fill-mode: forwards;
  // .cardCheckbox:checked ~ .card & {
  //   animation-name: cardContaineranime;
  //   animation-direction: normal;
  // }
  // .cardReviewedCheckbox:checked + .cardCheckbox:not(:checked) ~ .card & {
  //   animation-name: reversecardContaineranime;
  //   animation-direction: reverse;
  // }
  font-size: 20px;
}
.text {
  padding: 12px;
  width: 302px;
  // 22/1.1=20px
  line-height: 2;
  line-height: 1.8181;
  letter-spacing: -0.4px;
  word-break: break-word;
  min-height: 0;
  overflow: hidden;
  flex: 0 1 auto;
  user-select: none;
  &.x-center {
    text-align: center;
  }
  &.x-right {
    text-align: right;
  }
  &.x-left {
    text-align: left;
  }
  animation-duration: var(--animation-duration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  .cardCheckbox:checked ~ .card & {
    animation-name: cardTextanime;
    animation-direction: normal;
  }
  .cardReviewedCheckbox:checked + .cardCheckbox:not(:checked) ~ .card & {
    animation-name: reverseCardTextanime;
    animation-direction: reverse;
  }
}

.cardTapLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #9C9C9C;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.4px;
  user-select: none;
  .cardTapLabelOpen {
    display: block;
  }
  .cardTapLabelClose {
    display: none;
  }
  .cardCheckbox:checked ~ & {
    .cardTapLabelOpen {
      display: none;
    }
    .cardTapLabelClose {
      display: block;
    }
  }
}

@keyframes labelanime {
  0%   {
    width: var(--card-width);
    height: var(--card-height);
  }
  100% {
    width: var(--card-scaled-width);
    height: var(--card-scaled-height);
  }
}
@keyframes reverselabelanime {
  0%   {
    width: var(--card-width);
    height: var(--card-height);
  }
  100% {
    width: var(--card-scaled-width);
    height: var(--card-scaled-height);
  }
}

@keyframes backcardanime {
  0%   {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(0deg) translateZ(0px);
    box-shadow: 0px 8px 59px 0px var(--shadow-color);
  }
  100% {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(var(--rotate-angle)) translateZ(0px);
    box-shadow: -6px -3px 30px 0px var(--shadow-color-open);
  }
}
@keyframes reversebackcardanime {
  0%   {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(0deg) translateZ(0px);
    box-shadow: 0px 8px 59px 0px var(--shadow-color);
  }
  100% {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(var(--rotate-angle)) translateZ(0px);
    box-shadow: -6px -3px 30px 0px var(--shadow-color-open);
  }
}

@keyframes cardanime {
  0%   {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(0deg) translateZ(0px);
    backface-visibility: visible;
  }
  50%  {
    backface-visibility: hidden;
  }
  100% {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(var(--rotate-angle)) translateZ(0px);
    backface-visibility: hidden;
  }
}
@keyframes reversecardanime {
  0%   {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(0deg) translateZ(0px);
    backface-visibility: visible;
  }
  50%  {
    backface-visibility: hidden;
  }
  100% {
    transform: perspective(calc(var(--card-width) * 3)) rotateY(var(--rotate-angle)) translateZ(0px);
    backface-visibility: hidden;
  }
}

@keyframes cardTextanime {
  0%   {
    transform: scale(1);
  }
  100% {
    transform: scale(1.10596);
  }
}
@keyframes reverseCardTextanime {
  0%   {
    transform: scale(1);
  }
  100% {
    transform: scale(1.10596);
  }
}

// @keyframes cardContaineranime {
//   0%   {
//     font-size: 20px;
//   }
//   100% {
//     font-size: 22px;
//   }
// }
// @keyframes reversecardContaineranime {
//   0%   {
//     font-size: 20px;
//   }
//   100% {
//     font-size: 22px;
//   }
// }

@keyframes cardLabelanime {
  0%   {
    padding-top: 0px;
  }
  100% {
    padding-top: 22px;
  }
}
@keyframes reversecardLabelanime {
  0%   {
    padding-top: 0px;
  }
  100% {
    padding-top: 22px;
  }
}
